html{
    --backgroundColor: #303030;
    --darkColor: #000000;
    --middleColor: #808080;
    --highlightColor: #FFFFFF;

    font-family: "Nunito";
    font-size: 12px;
}

/* .redBox{
    border: 1px solid red;
} */

body{
    background-color: var(--backgroundColor);
}

html,body{
    height: 100%;
    margin: 0%;
}

#app{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(106px, 1fr) minmax(214px, 2fr) ;
    grid-template-rows: 45px auto ;
    grid-template-areas: 
        "headerDiv headerDiv"
        "sideBarDiv contentDiv";
    transition: grid-template-columns 0.3s ease;
}

@media (min-width:690px){
    #app{
        grid-template-columns: 230px 1fr ;
    }
}


#headerDiv{
    background-color: var(--highlightColor);
    grid-area: headerDiv;
}

#header{
    display: flex;
    justify-content: space-between;
}

#logoDiv{
    color: var(--darkColor);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

}

#usernameDiv{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

#username{
    color: var(--darkColor);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

#sideBarDiv{
    background-color: var(--middleColor);
    grid-area: sideBarDiv;
    padding-top: 10px;
}

.sideBarDiv{
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

@media (max-width: 500px){

    .sideBarDiv {
        transform: translateX(calc(-1 * calc(100% - 20px)));
    }

    .sideBarDiv.open{
        transform: translateX(0);
    }

    .contentDiv {
        transform: translateX(calc(-1 * calc(50% - 20px)));
    }

    .contentDiv.open{
        transform: translateX(0);
    }
}

@media (min-width: 500px){
    #sideBarButton{
        visibility: hidden;
    }
}

#sideBarTitle{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    color: var(--highlightColor);
    padding: 5px 0px 5px 15px;
    font-size: 1.2rem;
    border-bottom:  1px solid var(--backgroundColor);
}



#sideBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    position: absolute;
    top: 10px;
    right: -10px;
    margin: 0px -10px 0px 10px;
    padding: 0;
    background-color: var(--darkColor);
    color: var(--highlightColor);
    border-radius: 30px;
    border: 5px solid var(--middleColor);
    font-weight: bold;
    font-size: 1.5rem;
}




.projectDiv{
    padding: 5px 15px;
    border-bottom:  1px solid var(--backgroundColor);
}

.projectDiv:hover{
    background-color: var(--backgroundColor);
}

.projectTitleDiv{
    
}

.projectTitle{
    color: var(--highlightColor);
    margin: 0;
}

#todoList{
    display: flex;
    flex-wrap: wrap;
}

.contentDiv{
    transition: transform 0.3s ease;
}

#contentDiv{
    grid-area: contentDiv;
    padding-left: 20px;
}

#projectTitle{
    color: var(--highlightColor);
    font-size: 2rem;
    padding: 15px;
}

.todoDiv{
    background-color: var(--highlightColor);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
/*     width: minmax(100px, 200px);
 */}


.todoTitleDiv{
    font-size: 1.5rem;
    margin: 0;
}

.descriptionDiv{

}

.priorityDiv{

}

.notesDiv{

}