html{
    --backgroundColor: #303030;
    --darkColor: #000000;
    --middleColor: #808080;
    --highlightColor: #FFFFFF;

    font-family: "Nunito";
    font-size: 12px;
    word-break: break-word;
}

/* .redBox{
    border: 1px solid red;
} */

body{
    background-color: var(--backgroundColor);
}

html,body{
    height: 100%;
    margin: 0%;
}

#app{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#SBCWrapper{
    display: flex;
    height: calc(100% - 45px);
}

#headerDiv{
    background-color: var(--highlightColor);
}

#header{
    display: flex;
    justify-content: space-between;
}

#logoDiv{
    color: var(--darkColor);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

}

#usernameDiv{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

#username{
    color: var(--darkColor);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

#sideBarDiv{
    float: left;
    min-width: 33%;
    background-color: var(--middleColor);
    padding-top: 10px;
}

.sideBarDiv{
    position: relative;
    transform: translateX(0);
    transition: margin 0.3s ease;
}

@media (min-width:690px){
    #sideBarDiv{
        min-width: 230px;
        max-width: 230px;
    }
}

@media (max-width: 500px){

    .sideBarDiv {
  
        margin-left: calc(-1 * calc(33% - 20px));
    }

    .sideBarDiv.open{
 
        margin-left: 0px;
    }
}

@media (min-width: 500px){
    #sideBarButton{
         visibility: hidden;
     }
}

#sideBarTitle{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    color: var(--highlightColor);
    padding: 5px 0px 5px 15px;
    font-size: 1.2rem;
    border-bottom:  1px solid var(--backgroundColor);
}



#sideBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    position: absolute;
    top: 10px;
    right: -10px;
    margin: 0px -10px 0px 10px;
    padding: 0;
    background-color: var(--darkColor);
    color: var(--highlightColor);
    border-radius: 30px;
    border: 5px solid var(--middleColor);
    font-weight: bold;
    font-size: 1.5rem;
}




.projectDiv{
    padding: 5px 15px;
    border-bottom:  1px solid var(--backgroundColor);
}

.projectDiv:hover{
    background-color: var(--backgroundColor);
}

.projectTitleDiv{
    
}

.projectTitle{
    color: var(--highlightColor);
    margin: 0;
}




#contentDiv{
    padding: 10px 20px 0px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#todoList{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#projectTitle{
    color: var(--highlightColor);
    font-size: 2rem;
    padding: 15px;
}

.todoDiv{
    overflow: hidden;
    background-color: var(--highlightColor);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
 }

.todoHeader{
    display: flex;
    margin: 0;
}

.todoTitleDiv{
    margin-left: 5px;
    flex-grow: 1;
    font-size: 1.5rem;
}

.titleEditInput{
    font-size: 1.5rem;
    padding: 0;
    border: none;
    font-family: inherit;
    flex-grow: 1;
    color: var(--middleColor);
}

.titleEditInput:focus{
    border: 1px blue;
}

.editIconImg{
    display: inline;
    margin: 0 0.125em;
    margin-left: 5px;
    padding: 0;
    vertical-align: baseline;
    width: 1.5rem;
}


.todoContentDiv{
    display: flex;
    flex-direction: column;
    max-height: 0px;
    padding: 0px 5px 0px 5px;
    transition: 0.3s ease;
    gap: 5px;
    overflow: hidden;
}

.todoContentDiv.open{
    max-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descriptionDiv{
    font-size: 1.2rem;
    width: fit-content;
    span{
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.dueDateDiv{
    font-size: 1.2rem;

    span{
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.priorityDiv{
    font-size: 1.2rem;
    gap: 5px;
    align-items: center;
    span{
        font-size: 1.1rem;
        font-weight: bold;
    }

    .priorityPoints{
        display: flex;
    }

    .priorityPoint{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkColor);
        width: 15px;
        height: 15px;
        border-radius: 30px;
        color: var(--highlightColor);
        font-size: 0.8rem;

    }
}

.notesDiv{
    font-size: 1.2rem;

    span{
        font-size: 1.1rem;
        font-weight: bold;
    }
}

